<footer class="footer">
  <div class="footer-inner">
    <div class="footer-col">
      <p class="footer-col-title">Title</p>
      <ul>
        <li><a href="#">Content</a></li>
        <li><a href="#">Content</a></li>
        <li><a href="#">Content</a></li>
        <li><a href="#">Content</a></li>
        <li><a href="#">Content</a></li>
        <li><a href="#">Content</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <p class="footer-col-title">Title</p>
      <ul>
        <li><a href="#">Content</a></li>
        <li><a href="#">Content</a></li>
        <li><a href="#">Content</a></li>
        <li><a href="#">Content</a></li>
        <li><a href="#">Content</a></li>
        <li><a href="#">Content</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <p class="footer-col-title">Title</p>
      <ul>
        <li><a href="#">Content</a></li>
        <li><a href="#">Content</a></li>
        <li><a href="#">Content</a></li>
        <li><a href="#">Content</a></li>
        <li><a href="#">Content</a></li>
        <li><a href="#">Content</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <p class="footer-col-title">Title</p>
      <ul>
        <li><a href="#">Content</a></li>
        <li><a href="#">Content</a></li>
        <li><a href="#">Content</a></li>
        <li><a href="#">Content</a></li>
        <li><a href="#">Content</a></li>
        <li><a href="#">Content</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    Copyright © Inkafarma 2026 Todos los derechos reservados
  </div>
</footer>
